.output {
  display: flex;
  justify-content: space-between;
}

.output-field {
  width: 100%;
  padding: 8px;
}

.copy {
  cursor: pointer;
}

.copy-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copy-alert {
  display: block;
}
