.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 10px;
  border-radius: 10px;
}

.output-field {
  width: 100%;
  font-size: 22px;
  font-weight: 300;
}

.copy {
  background:none;
  border: none;
}

.copy-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copy-alert {
  display: block;
  margin-right: 10px;
}
