.output-field {
  width: 240px;
  padding: 8px;
  margin-bottom: 32px;
}
.copy {
  margin-left: -8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.copy-alert {
  margin-left: 16px;
}
